@import url("https://fonts.googleapis.com/css2?family=Bellefair:wght@400&display=swap");

:root {
  --header-height: 3.5rem;

  /* Colors */
  --body-color: #0b0d17;
  --title-color: #ffffff;
  --text-color: #d0d6f9;

  /* Font sizes */
  --body-font: "Bellefair", sans-serif;
  --h1-font-size: 150px;
  --h2-font-size: 100px;
  --h3-font-size: 56px;
  --h4-font-size: 32px;
  --h5-font-size: 28px;
  --sub-heading1-font-size: 28px;
  --sub-heading2-font-size: 14px;
  --nav-text: 16px;
  --body-text: 15px;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
input,
button,
textarea {
  font-family: var(--body-font);
  font-size: var(--body-text);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: url(/assets/images/home/background-home-mobile.jpg) no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo {
  margin: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  text-transform: uppercase;
  font-size: var(--nav-text);
  color: var(--title-color);
}

.nav__link-id {
  font-weight: bold;
  letter-spacing: 2px;
}

.close__icon,
.menu__icon {
  color: var(--title-color);
  font-size: 30px;
  cursor: pointer;
}

.menu__icon {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    color: var(--title-color);
    width: 70%;
    height: 100%;
    top: 0;
    /* right: 0; */
    right: -100%;
    z-index: var(--z-fixed);
    padding: 5rem 1rem;

    background: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

.nav__close {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.show-menu {
  right: 0;
}

.hide-menu-icon {
  display: none;
}

/* Home */

.home {
  text-align: center;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  justify-content: center;
}

.home__sub-heading-text {
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 2.35;
  font-size: var(--sub-heading2-font-size);
}

.home__main-heading-text {
  color: var(--title-color);
  text-transform: uppercase;
  font-size: var(--h2-font-size);
}

.home__description-text {
  color: var(--text-color);
  font-size: var(--body-text);
}

.home__explore {
  height: 10rem;
  width: 10rem;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.home__explore-text {
  color: black;
  font-size: var(--sub-heading1-font-size);
}

/* ======== Destination ========= */

.destination__bg {
  background: url(/assets/images/destination/background-destination-mobile.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.destination__sub-heading-text {
  color: var(--title-color);
  text-transform: uppercase;
  font-size: var(--sub-heading2-font-size);
  letter-spacing: 1px;
}

.destination__sub-heading-text span {
  font-weight: bold;
  color: var(--title-color);
  opacity: 0.25;
}

.destination__image {
  max-width: 60%;
  height: auto;
}

.dest__nav-list {
  display: flex;
  column-gap: 20px;
}

.dest__nav-link {
  text-transform: uppercase;
  font-size: var(--sub-heading2-font-size);
  color: var(--text-color);
  padding-bottom: 5px;
}

#moon .dest__nav-link-moon {
  color: var(--title-color);
  border-bottom: 3px solid var(--title-color);
}

#mars .dest__nav-link-mars {
  color: var(--title-color);
  border-bottom: 3px solid var(--title-color);
}

#europa .dest__nav-link-europa {
  color: var(--title-color);
  border-bottom: 3px solid var(--title-color);
}

#titan .dest__nav-link-titan {
  color: var(--title-color);
  border-bottom: 3px solid var(--title-color);
}

.destination__details-heading-text {
  font-size: var(--h3-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.destination__details-desp {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--text-color);
  width: 90%;
}

.destination__details-desp-text {
  color: var(--text-color);
  font-size: var(--body-text);
}

.destination__details-dist p,
.destination__details-time p {
  font-size: var(--sub-heading2-font-size);
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

.destination__details-dist h4,
.destination__details-time h4 {
  color: var(--title-color);
  font-size: var(--h4-font-size);
  font-weight: var(--font-medium);
  text-transform: uppercase;
}

.destination__container {
  padding: 1rem 1rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.5rem;
}

.destination__details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 1.5rem;
}

.destination__details-heading-desp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.destination__details-dist-time {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

/* Crew */
.crew__bg {
  background: url(/assets/images/crew/background-crew-mobile.jpg) no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.crew__sub-heading-text {
  color: var(--title-color);
  text-transform: uppercase;
  font-size: var(--sub-heading2-font-size);
  letter-spacing: 1px;
}

.crew__sub-heading-text span {
  font-weight: bold;
  color: var(--title-color);
  opacity: 0.25;
}

.crew__container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
}

.crew__slider-images {
  position: relative;
  width: 20rem;
  height: 16rem;
  margin: 0 auto;
  overflow: hidden;
}

.crew__slider-image {
  width: 20rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);

  display: flex;
  align-items: center;
  justify-content: center;
}

.crew__slider-image img {
  width: 12rem;
  height: 15rem;
}

.crew__slider-nav {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.crew__slide-nav {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.25);
  /* cursor: pointer; */
}

.crew__header-desp {
  text-align: center;
}

.crew__sub-header {
  color: var(--title-color);
  opacity: 0.25;
  font-size: var(--sub-heading2-font-size);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.crew__header {
  font-size: var(--h4-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin: 5px 0 20px 0;
}

.crew__desp {
  font-size: var(--body-text);
  color: var(--text-color);
  line-height: 1.5;
}

.crew__slider-button {
  font-size: 2rem;
  color: var(--text-color);
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}

.crew__slider-container {
  position: relative;
}
.crew__slider-button-left {
  position: absolute;
  top: 5rem;
  left: 0;
}

.crew__slider-button-left:hover {
  transform: translateX(-0.25rem);
  transition: 0.3s;
}

.crew__slider-button-right {
  position: absolute;
  top: 5rem;
  right: 0;
}

.crew__slider-button-right:hover {
  transform: translateX(0.25rem);
  transition: 0.3s;
}
